<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GenreLoginPage</title>
    <link rel="stylesheet" type="text/css" href="../static/LoginPage.css">
</head>
<body>
<div id="header">
    <h1 class="welcome">Genre: Business Data & Analytics</h1>
</div>
<div id="login">
    <p class="p1">Login Page</p>
</div>
<form class="box" action="" method="post">
    <h2>Login</h2>
    <input type="text" name="" placeholder="Username">
    <input type="password" name="" placeholder="Password">
    <input type="submit" name="" value="Login">
</form>
</body>
</html>
