body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #34495e;
}
/* login form setup*/
.box {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%, -50%);
    background: #191919;
    text-align: center;
}
.box input[type = "text"],.box input[type = "password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align:  center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: ghostwhite;
    border-radius: 24px;
}
.box input[type = "submit"]{
    border: 0;
    background: none;
    display:  block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}
.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

#header {
    height: 70px;
}
#header> h1.welcome {
    font-size: 30px;
    color: #191919;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    padding-top: 20px;
}
p.p1 {
    color: #191919;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
